// reset 样式
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
}

a {
    color: #999;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

//定义样式工具类
// 字体颜色
$colors:("primary":#db9e3f, "white":#fff, "dark-1":#343440, "dark":#999, "block":#000);
@each $colorKey,
$colorVal in $colors {
    .font-#{$colorKey} {
        color: $colorVal;
    }
}

// 居中类
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}